body{
  margin: 0;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  color: #251f0d;
  background-color: #F0EAD6;

  /* dark mode pallet */
  /* color: #F0EAD6; */
  /* background-color: #251f0d; */
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comp{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music{
  /* align-items: unset; */
}

.music-row-box{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}